.row.content {height: 650px;}
.main{
  overflow: auto;
}

footer {
    background-color: grey;
    color: white;
    padding: 10px;
    height:50px;
    text-align:center;
}

header {
    background-color: grey;
    color: white;
    padding: 5px;
}

h2 {
    display:inline;
}

.selection {
    background-color:#99CCFF;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 20px;
    padding:10px;
}


.columnNav {
  width: 170px;
  float: left;
  padding-bottom: 100px;
}

.inputUpdate{
	margin:10px 10px 0px 0px;
}

.portletsArray {
    margin: 15px;
    width: 1200px;
   /* margin-top: -200px;*/
    height:auto;
    overflow:auto;
    

  }


  .portleta {
      width:250px;
      float :left;
      margin: 0 1em 1em 0;
      padding: 0.3em;
     
  }

  .portlet-headera {
      padding: 0.2em 0.3em;
      margin-bottom: 0.5em;
      position: relative;

  }

  .portlet-togglea {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -8px;
      
  }

  .portlet-contenta {
      padding: 0.4em;
  }

  .portlet-placeholder {
      border: 1px dotted black;
      margin: 0 1em 1em 0;
      height: 50px;
  }



  @media screen and (max-width: 	991px) {
    
    .main{height: auto;min-height: 400px;}
       
     
    
      .navbar{
          height: auto;
          padding: 16px;
          width:auto;
        }
    
      .columnNav{
          height: auto;
          width:auto;
          padding: 18px;
          
      }
      .selection{
        float:left;
        width:175px;
        margin-top: 8px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 13px;
      }
      .portletsArray{
        margin:15px;
        
      }

  
  }
  
  @media screen and (max-width: 	1100px) {

    .row.content {height: auto; } 
    .main{
      height :auto;
    }
    .selection{
          margin-left:1px;
      }
    .portletsArray{
        margin:15px;
    }
    
    .navbar{
      height: auto;
      padding: 15px;
      width:auto;
      
    }


  }

.other{
  margin:25px;
 
}

buttonNav{
      margin:10px;
}

.dugme
{
  margin:5px;

}

#pocetna{
  margin:50px;
  }
.naslov{
  text-align:center; 
  margin-bottom:65px;
  }

.tekst{
  color:grey;
    
}
